*{
  cursor: pointer;
  margin:none;

}
header
{


    width:100%;
    max-width: 1250px;

    display:flex;

    justify-content:space-between;
    margin:0px 50px;

    align-items:center;
}
.nav{ 
    cursor: pointer;
    list-style: none;
    display: flex;
    background-color: none;
    border: 8px;
    gap: 50px }
.button 
{
color: white;
background-color : blue;
padding: 10px 20px;
border: none;
border-radius:8px;
width: 200px;
}

.hero
{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    text-align:center;
    height:700px;
    padding: 300px 0 0 0;
background-image:url(banner.jpg);
}

.hero button{
    margin-bottom:30px;
}
.maincard{
        display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;


    
}
.card{
    width: 35%;
    height: 100%;
    border:1px solid rgb(243, 227, 227);
    box-sizing:border-box;
    flex-direction: column;
    
    

}
.card img
{
    width: 100%;
    height: auto;
    
}
section h1{
    text-align: center ;
}
section title, section p, section h3{
    padding-left: 4px;
}
.card image, h3, p
{
     gap:0px;
     margin: 5px;
    }

    .pricehead
    {align-items: center;
        text-align: center;
        margin-top: 100px;

    }
    .pricemain{
        display: flex;
        justify-content:center;
        flex-direction: row;
        align-items:flex-start;
        text-align:left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
    }
   .price
   {
    display: flex;    
    flex-direction:column;
    border: 1px solid rgb(233, 225, 225);
        font-weight: lighter;
        text-align: left;
        align-items:flex-start;
                margin: 30px;
                margin-bottom: px;

        border-radius: 10px;
        padding-left: 0px;
        width: 280px;
   }
        .price p, .price h1{
            margin-left: 20px;
            padding-left: 20px;
            margin-bottom: 9px;
            margin-top:0px;
            padding:0px    
        }
    
    .price ul{
        text-align: left;
        font-size: 12px;
        color: rgb(56, 54, 54);
    }


    .price ul li{
        padding-bottom: 7px ;
        padding-left: 5px;
        margin:0px;
    }
    
    #premium , #premium ul
    {
        background: rgb(12, 11, 11);
        color: rgb(148, 137, 137);
    }
#vip
{
    background: rgb(240, 238, 238);
    color: rgb(31, 28, 28);
}
     hr{
            border: 1px solid rgb(48, 45, 45);
            width: 200px;
        }
        .price button
        {
            margin: 20px;
            align-items: center;
        }
        #st, #vipb{
            color:blue ;
            background: white;
            border-color: blue;
            border:1px solid blue !important;
        }
